.event-block {
	position: relative;
	width: 80%;
	height: 100%;
	touch-action: none;
}

.event-block__time {
	font-size: 12px;
	cursor: default;
	width: 55px;
	text-align: end;
}

.resizeable {
	position: absolute;
	border-radius: 7px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: start;
	min-height: 50%;
	background-color: rgba(91, 175, 170, 0.8);
	opacity: 0;
	z-index: 0;
}

.resizeable_visible {
	opacity: 1;
	z-index: 100;
}

.resizer {
	display: flex;
	position: absolute;
	width: 100%;
	left: 0;
}

.resizer-t {
	align-items: start;
	height: 50%;
	top: 0;
}

.resizer-b {
	align-items: end;
	height: 50%;
	bottom: 0;
}