.event-block {
	position: relative;
	border-radius: 5px;
	width: 80%;
	height: 100%;
	touch-action: none;
}

.resizeable {
	position: absolute;
	border-radius: 3px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 39px;
	background-color: rgba(91, 175, 170, 0.8);
}

.resizer {
	position: absolute;
}
.resizer-t {
	cursor: row-resize;
	height: 15px;
	left: 0;
	top: 0;
	width: 100%;
}
.resizer-b {
	cursor: row-resize;
	height: 15px;
	left: 0;
	bottom: 0;
	width: 100%;
}