.rmdp-calendar {
	background-color: black;
	width: 380px;
}

.rmdp-day-picker > div {
	width: 100%;
	height: 500px;
}

.calendar_arrow {
	background: none;
	color: #09CE69;
	border: none;
	font-size: 20px;
	cursor: pointer;
}

.rmdp-week-day {
	color: white;
}

.rmdp-week {
	margin-top: 10px;
}

.rmdp-week:first-child {
	background-color: #151515;
	border-radius: 8px;
}

.rmdp-day {
	color: white;
	width: 100%;
	height: 50px;
}

.rmdp-day span {
	font-size: 20px;
}

.rmdp-wrapper {
	box-shadow: none;
}

.rmdp-day.rmdp-selected span:not(.highlight) {
	background-color: #d93939;
	box-shadow: 0 0 3px #8798ad;
	color: #fff;
}

.rmdp-day.rmdp-selected span:not(.highlight):hover {
	background-color: #ec1717;
	border: none;
}

.rmdp-day.rmdp-selected .highlight-red {
	background-color: #d93939;
	border: none;
	
}

.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) .highlight-red:hover {
	background-color: #ec1717;
	border: none;
}

.rmdp-header, .rmdp-month-name {
	font-size: 20px;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
	.rmdp-calendar {
		width: 300px;
	}
	
	.rmdp-day {
		height: 40px;
	}
	
	.rmdp-day span {
		font-size: 16px;
	}
	
	.rmdp-header, .rmdp-month-name {
		font-size: 16px;
	}
}

@media screen and (min-width: 375px) and (max-width: 413px) {
	.rmdp-calendar {
		width: 350px;
	}
	
	.rmdp-day {
		height: 47px;
	}
}