.rmdp-calendar {
	background-color: black;
	width: 380px;
}

.rmdp-day-picker > div {
	width: 100%;
	height: 400px;
}

.calendar_arrow {
	background: none;
	color: #09CE69;
	border: none;
	font-size: 20px;
	cursor: pointer;
}

.rmdp-year-picker > div {
	background-color: black;
}
.rmdp-month-picker > div {
	background-color: black;
}
.rmdp-year-picker span {
	color: white;
}
.rmdp-month-picker span {
	color: white;
}
/*.rmdp-day.rmdp-selected span {*/
/*	background-color: #09CE69;*/
/*	box-shadow: 0 0 3px #8798ad;*/
/*	color: #fff;*/
/*}*/
/*.rmdp-day.rmdp-selected > span {*/
/*	background-color: #09CE69;*/
/*}*/
.rmdp-day-picker > div > div {
	margin-top: 20px;
}

.rmdp-week:first-child {
	background-color: #151515;
	border-radius: 8px;
}
.rmdp-week > div {
	color: white;
}
.rmdp-header-values > span {
	font-size: 18px;
	color: white;
}

.rmdp-day span {
	font-size: 18px;
}

.rmdp-wrapper  {
	box-shadow: none;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
	.rmdp-calendar {
		width: 300px;
	}
}

@media screen and (min-width: 375px) and (max-width: 413px) {
	.rmdp-calendar {
		width: 350px;
	}
}
