.timetable__list {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.timetable__item {
	display: flex;
	justify-content: space-between;
	height: 40px;
	border-bottom: 1px solid #2a2c3e;
	pointer-events: auto;
}

.timetable__hour {
	text-align: end;
	width: 34px;
	font-size: 12px;
}